.SignUpPage {
    height: 450px;
    width: 350px;
    margin-top: 130px;
    margin-left: 565px;
    background: radial-gradient(rgba(255, 255, 255, 0.479),rgba(128, 128, 128, 0.445))no-repeat fixed;
    border: black 1px solid;
    text-align: center;
    padding-right: 30px;
    padding-top: 45px;
}

.SignUpPage > img {
    width:150px;
    position: relative;
    top: -20px;
    right: -10px;
}