.Container {
    height: 400px;
    margin: 0 auto;
    margin-top: 220px;
    color: black;
    z-index: 3;
}

.UsersList > tbody > tr:nth-child(even){
    background-color: rgba(37, 37, 37, 0.705);
    /* display: table; */
}
    
    

.UsersList > tbody > tr {
    width: 598px;
    padding-top: 10px;
}

.UsersList > tbody > td {
    padding: 5px;
}

.UsersList > tbody > tr:hover {
    background-color: #b6edd02d;
}

.UserList {
    border: red 1px solid;
}