.Nav {
    bottom: 20px;
    /* padding-top: 30px; */
    font-size: 29px;
    float: left;
    z-index: -1;
    position: relative;
    bottom: 210px;
}

.NavList > a > li {
    display: inline-block;
    padding: 7px;
    text-decoration: none;
    list-style: none;
    color: white;
    text-shadow: black 2px 2px 2px;
    /* font-family: 'Abel', sans-serif; */
    font-family: 'Exo', sans-serif;
    /* font-family: 'Abril Fatface', cursive; */
    /* font-family: 'Dosis', sans-serif; */
    /* font-family: 'Fugaz One', cursive; */
}

.NavList > li:hover {
    padding: 2px;
}

.navbar navbar-dark bg-faded > a {

    float: right;
}