body {
  background: linear-gradient(45deg, rgba(152, 151, 155, 0.521), rgba(178, 230, 247, 0.733))no-repeat fixed;
  background-repeat: no-repeat;
  background-position: center; 
  background-attachment: fixed;
}

#geneva {
  position: absolute;
  z-index: -2;
  width: 700px;
  /* margin-left: 400px; */
  margin: -110px 0px 0px 370px;
}